@model SggApp.Domain.Entidades.Usuario

<h1>Detalles</h1>
<dl>
    <dt>Nombre</dt>
    <dd>@Model.Nombre</dd>
    <dt>Email</dt>
    <dd>@Model.Email</dd>
</dl>
<p><a asp-action="Index">Volver</a></p>
